.breadcrumb {
    clear:both;
    padding: 0px;
    margin-bottom: 1px;
}

.breadcrumb ol, ul {
    margin-bottom: 2px;
}

.breadcrumb .page-title,
.breadcrumb .menu a {
    background-color: #588baf;
    color : #FFF;
    padding: 5px 10px;
    position: relative;
    display: block;
    float: left;
    padding-left: 30px;
    text-decoration: none;
    font-weight: bold;
}

.breadcrumb .page-title::after,
.breadcrumb ol a::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #588baf;
    position: absolute;
    top: 0px;
    left: 100%;
    z-index: 2;
}

.breadcrumb .page-title::before,
.breadcrumb ol a::before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid white;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 1;
}

.breadcrumb .page-title {
    background-color: #235d86;
}

.breadcrumb .page-title::after {
    border-left: 15px solid #235d86;
}

/* Espacement entre les flèches */
.breadcrumb a,
.breadcrumb a:before {
    margin-left: 2px;
}

.breadcrumb .menu a:hover {
    background-color: #3c7186;
}
.breadcrumb .menu a:hover:after {
    border-left-color: #3c7186 !important;
}

.breadcrumb a .arrow {
    margin-left: 5px;
    display: inline-block;
    height: 5px;
    width: 11px;
}

.breadcrumb a .arrow.white {
    background: url("img/charte/sprite2.png") no-repeat -610px -100px;
}

.breadcrumb a .arrow.black {
    background: url("img/charte/sprite2.png") no-repeat -599px -100px;
}

.breadcrumb li:first-child a{
	border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-left: 0;
    padding-left: 15px;
}

.breadcrumb li {
    position: relative;
    float: left;
    margin-left: 0px;
}

.breadcrumb ul li {
    display: initial;
}

.breadcrumb ul a {
    border-top: 1px solid white;
}

.breadcrumb .dropDown {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 29px;
    left: 1px;
}

.breadcrumb .dropDown a:before,
.breadcrumb .dropDown a:after {
    content: initial;
}

.breadcrumb .dropDown li {
    float: none;
}

.breadcrumb .dropDown li a {
    border-top-left-radius: initial;
    border-bottom-left-radius: initial;
    border: none;
    margin-left: 2px;
    padding: 5px 10px;
    fonts-size: 11px;
    line-height: 16px;
}

.breadcrumb .dropDown a {
    font-weight: normal;
    width: 100%;
}

.breadcrumb #rightMenu {
    position: relative;
    float: right;
    width: 100px;
}

.breadcrumb #rightMenu a:first-child{
    float: right; 
    margin-right: 5px;
}

.breadcrumb #rightMenu a{
    color: #333;
    display: inline-block;
    font-size: 12px;
    line-height: 27px;
}

.breadcrumb #rightMenu .dropDown {
    background-color: #DDD;
    top: 27px
}

.breadcrumb #rightMenu .dropDown li a {
    fonts-size: 11px;
    line-height: 12px;
    float: none;
    margin-right: 0;
